<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>about</title>
    <%- include("partials/header.ejs") %>
</head>
<body class="gradient-bg">
    <div class="about-card">
        <div class="about-title">
            <p>My Blog Website</p>
        </div>
        <div class="about-content">
            <p>This is my Capstone Project where I used the things I learned such as EJS and Express. While making this 
                I also got to learn new things, mostly related to styling. Making a project from scratch is very good
                practice for revising and implementing what we already know and also learn things during the process. 
            </p>
        </div>
        <div class="author-details">
            <p>Sneha Nepal</p>
            <p>snehisneha02@gmail.com</p>
        </div>
    </div>
</body>
    <%- include("partials/footer.ejs") %>
</html>