<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>about</title>
    <%- include("partials/header.ejs") %>
</head>
<body class="newspaper-body">
    <div class="about-card">
        <div class="about-title">
            <p>Using News API</p>
        </div>
        <div class="about-content">
            <p>This is my Capstone Project where I implemented my learning of using a Public API. This project uses NewsAPI for educational purposes. 
                API key is intentionally left blank. Please register at newsapi.org and insert your own key in the code to run locally. 
            </p>
        </div>
        <div class="author-details">
            <p>Sneha Nepal</p>
            <p>snehisneha02@gmail.com</p>
        </div>
    </div>
</body>
    <%- include("partials/footer.ejs") %>
</html>